<div class="container" *ngIf="!isGameReady"><h1> The game is loading ...</h1></div>

<div class="container" *ngIf="isGameReady">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6"><div *ngFor="let c of friend.cards"><img class="card card-inline" src="{{c.imgUrl}}"/></div>
	</div> 
	<div class="col-lg-3"></div>
</div>
<div class="row" >
	<div class="col-lg-3"><div *ngFor="let c of foe1.cards"><img class="card card-rotated" src="{{c.imgUrl}}"/></div></div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6"><img class="card card-inline" src="{{friend.tableCard != null ? friend.tableCard.imgUrl : ''}}"/></div>
			<div class="col-lg-3"></div>
		</div>
		<div class="row">
			<div class="col-lg-3"><img class="card card-rotated" src="{{foe1.tableCard != null ? foe1.tableCard.imgUrl : ''}}"/></div>
			<div class="col-lg-6"><h2>{{message}}</h2></div>
			<div class="col-lg-3"><img class="card card-rotated" src="{{foe2.tableCard != null ? foe2.tableCard.imgUrl : ''}}"/></div>
		</div>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6"><img class="card card-inline" src="{{me.tableCard != null ? me.tableCard.imgUrl : ''}}"/></div>
			<div class="col-lg-3"></div>
		</div>	
	</div>
	<div class="col-lg-3">
		<div *ngFor="let c of foe2.cards"><img  class="card card-rotated" src="{{c.imgUrl}}" /></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6"><div *ngFor="let c of me.cards"><img (click)="playCard($event)" id="{{c.id}}" class="{{c.isFirstTrump ? 'card card-inline trump' : 'card card-inline'}}" src="{{c.imgUrl}}"/></div>
</div>
<div class="col-lg-3"></div>
</div>
&nbsp;
<div class="row">
	<gameChat [game_id]="getGameId"></gameChat>
</div>
</div>




