<div class="container">
    <h2>Games History <button class="btn btn-primary" (click)="getGamesHistory()"> Refresh </button>
        <a *ngIf="isLoggedIn()">
            <button type="button" class="btn btn-primary" (click)="getMyGamesHistory()">My Game History</button>
        </a>
    </h2>
    <div class="form-group">
        <label>Filter </label>
        <input type="text" id="inputName" [(ngModel)]="inputName" />
        <input type="button" (click)="FilterByName()" value="Apply" />
    </div>
    <div class='row'>
        <div class="panel panel-default">
            <div class='panel-body'>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Game Owner</th>
                            <th>End State</th>
                            <th>Creation Date</th>
                            <th>End Date</th>
                            <th>Winner1</th>
                            <th>Winner2</th>
                            <th>Draw</th>
                            <th>Team Winner Points</th>
                            <th>Team Winner Stars</th>
                            <th>Players</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of arrayGameHistory">
                            <td>{{m.owner.username}}</td>
                            <td>{{m.state}}</td>
                            <td>{{m.startDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{m.endDate | date:'dd-MM-yyyy'}}</td>
                            <td *ngIf="m.winner1 != null">{{m.winner1}}</td>
                            <td *ngIf="m.winner1 == null">none</td>
                            <td *ngIf="m.winner2 != null">{{m.winner2}}</td>
                            <td *ngIf="m.winner2 == null">none</td>
                            <td>{{m.isDraw}}</td>
                            <td>{{m.points}}</td>
                            <td>{{m.stars}}</td>
                            <td>
                                <tr *ngFor="let p of m.players">
                                    <td>{{p.username}}</td>
                                </tr>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>