<div class="container">
	<button type="button" class="btn btn-danger" routerLink="/game/new">Create Game</button>
	<button type="button" class="btn btn-danger" routerLink="/games">Search Game</button>
	<button type="button" class="btn btn-danger" routerLink="/gamesHistory">Game History</button>
	<button type="button" class="btn btn-danger" routerLink="/gamesHistory" [hidden]="isLoggedIn">My Game History</button>
	<button type="button" class="btn btn-danger" routerLink="/top10Stars">Top 10 Stars</button>
	<button type="button" class="btn btn-danger" routerLink="/top10Points">Top 10 Points</button>
</div>