<div class="container">
    <h2>Top 10 Points <button class="btn btn-primary" (click)="getTop10Point()"> Refresh </button></h2>
    <div class="form-group">
        <label>Filter </label>
        <input type="text" id="inputName" [(ngModel)]="inputName" />
        <input type="button" (click)="FilterByName()" value="Apply" />
    </div>
    <div class='row'>
        <div class="panel panel-default">
            <div class='panel-body'>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of arrayTop10Point">
                            <td>{{m.name}}</td>
                            <td>{{m.totalPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>